<h1>La page de l'auteur </h1>
    <p>
        <%= @user.first_name %> <%= @user.last_name %><br/>
        <%= @user.description %><br/>
        <%= @user.email %><br/>
        <%= @user.age %><br/>
        
    </p>